<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/CSS/StyleSheet.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body oncontextmenu=" return disableRightClick();">

    @* <div class="container">
                <div class="navbar-left">
                <button type="button" class="navbar-left" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>*@
    <div class=" navbar-header navbar-fixed-top  " style="width:100%">
        <img src="~/Content/Images/VHeader.PNG" />
    </div>
    <br /><br />
   


          <div id="customerresult" class="itemdetailws ">

              <div class="collapse navbar-collapse col-md-2" id="navbar-collapse-1">
                  <ul class="nav ">
                      <li class="">@Html.ActionLink("Property Owner Information", "Index", "PropertyOwnerInfo", null, new { @class = "leftMenuItem" })</li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle leftMenuItem" data-toggle="dropdown">Stakeholder Contact Information <b class="caret"></b></a>
                          <ul class="dropdown-menu" style="left:100%;top:0%">
                              <li class="kopie">@Html.ActionLink("Property Owner Information", "Index", "PropertyOwnerInfo", null, new { @class = "leftMenuItem" })</li>
                              <li>@Html.ActionLink("Property Owner Contact", "Index", "PropertyOwnerContact", null, new { @class = "leftMenuItem" })</li>
                              <li>@Html.ActionLink("Additional Stakeholder Information", "Index", "AdditionalStakeholderInfo", null, new { @class = "leftMenuItem" })</li>
                              <li>@Html.ActionLink("Additional Stakeholder Contacts", "Index", "AdditionalStakeholderContacts", null, new { @class = "leftMenuItem" })</li>
                              <li>@Html.ActionLink("Additional Stakeholder Questions", "Index", "AdditionalStakeholderQuestions", null, new { @class = "leftMenuItem" })</li>
                          </ul>
                      </li>
                      <li>@Html.ActionLink("Building Information", "Index", "BuildingInfo", null, new { @class = "leftMenuItem" })</li>
                      <li>
                          @Html.ActionLink("Additional Information", "Index", "AdditionalInfo", null, new { @class = "leftMenuItem" })
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle leftMenuItem" data-toggle="dropdown">Code Compliance Checklist Part I <b class="caret"></b></a>
                          <ul class="dropdown-menu" style="left:100%;top:0%">
                              <li class="kopie">@Html.ActionLink("Project Description", "Index", "ProjectDescription", null, new { @class = "leftMenuItem" })</li>
                              <li>@Html.ActionLink("Occupancy, Heights and Areas", "Index", "OccupancyHeightsandAreas", null, new { @class = "leftMenuItem" })</li>
                              <li>@Html.ActionLink("Additional Stakeholder Information", "Index", "AdditionalStakeholderInfo", null, new { @class = "leftMenuItem" })</li>
                              <li>@Html.ActionLink("Additional Stakeholder Contacts", "Index", "AdditionalStakeholderContacts", null, new { @class = "leftMenuItem" })</li>
                              <li>@Html.ActionLink("Additional Stakeholder Questions", "Index", "AdditionalStakeholderQuestions", null, new { @class = "leftMenuItem" })</li>
                          </ul>
                      </li>
                  </ul>
              </div>
               

              <div class="container body-content col-md-10">
                  @RenderBody()
                  <hr />
                  <footer>
                      <p>&copy; @DateTime.Now.Year Department of State - New York</p>
                  </footer>
              </div>

              <div class="navbar-fixed-bottom  ">
                  <img src="~/Content/Images/VFooter.png" />
              </div>

          </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>

@*For Disabling Right Click*@
<script type="text/javascript">
    function disableRightClick() {
        alert("Sorry, right click is not allowed !!");
        return false;
    }
</script>
