@model DOSBPM.Models.PropertyOwnerInfo
 
	 
<div class="form-horizontal">
	@Html.Hidden("AddressId",Model.AddressInfo.AddressId)
	@Html.Hidden("StkHoldTypeId",Model.AddressInfo.StkHoldTypeId)
	@Html.Hidden("StkHoldTypeName",Model.AddressInfo.StkHoldTypeName)


	<div class="col-md-12">
		<div class="col-md-12">
			<label>Mailing Address Line 1</label>
		</div>
		<br />
		<div class="col-md-12">
			@Html.EditorFor(model => model.AddressInfo.Address1, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-12">
			<label>Mailing Address Line 2</label>
		</div>
		<br />
		<div class="col-md-12">
			@Html.EditorFor(model => model.AddressInfo.Address2, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<label>City</label>
		</div>
		<div class="col-md-12">
			@Html.EditorFor(model => model.AddressInfo.City, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<label>County</label>
		</div>
		<div class="col-md-12">
			@Html.DropDownListFor(x => x.AddressInfo.CountyId, Model.AddressInfo.CountiesList, "--Select--", new { @class = "form-control" })
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-md-12">
			<label>State</label>
		</div>
		<div class="col-md-12">
			@Html.DropDownListFor(x => x.AddressInfo.StateId, Model.AddressInfo.StatesList, "--Select--", new { @class = "form-control" })
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-md-12">
			<label>Zip Code</label>
		</div>
		<div class="col-md-12">
			@Html.EditorFor(model => model.AddressInfo.Zip, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<label>Country</label>
		</div>
		<div class="col-md-12">
			@Html.DropDownListFor(x => x.AddressInfo.CountryId, Model.AddressInfo.CountryList, "--Select--", new { @class = "form-control" })
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-md-12">
			<label>Zip 4</label>
		</div>
		<div class="col-md-12">
			@Html.EditorFor(model => model.AddressInfo.Zip4Format, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>

	@*<div class="col-md-6">
			<div class="col-md-6">
				@Html.LabelFor(model => model.TelephoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
			</div>
			<div class="col-md-6">
				@Html.EditorFor(model => model.TelephoneNumber, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>

		<div class="col-md-6">
			<div class="col-md-6">
				@Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
			</div>
			<div class="col-md-6">
				@Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>*@

</div>

